# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. Daniel Faria

### Grupo 59
<dl>
    <dt>05 horas (30%)</dt>
    <dd>ist1102703 Isabela Pereira</dd>
    <dt>05 horas (30%)</dt>
    <dd>ist1102780 Diogo Henriques</dd>
    <dt>06 horas (40%)</dt>
    <dd>ist1102798 Fernando Castanheira</dd>
<dl>

# Empresa de comércio online

## 1 Conversão E-A para Modelo Relacional

Recorde a notação para o Modelo Relacional exposta nas aulas teóricas como se segue:

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

1. As relações são expressas por um nome seguido dos atributos entre parêntesis;
    - As chave primárias são expressas sublinhando os atributos que a compõem;
    - As chaves estrangeiras para outras relações são expressas através da lista de atributos que a compõem, seguida de “: FK(RelacaoDestino)”. A ordem dos atributos que compõem a FK deve corresponder à ordem dos atributos da chave na relação destino;
    - As chaves candidatas são expressas através da expressão “unique”, seguida da lista de atributos que a compõem entre parêntesis;
    - As restrições de integridade ao Modelo Relacional são descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restrições de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associação;
2. Complemente a seu Modelo Relacional com um conjunto de Restrições de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- Employee (<u>ssn</u>, tin, bdate, name)
    - unique(tin)
- Workplace(<u>address</u>,lat , long)
    - unique(lat, long)
- Office (<u>address</u>)
    - address: FK (Workplace)
- Warehouse (<u>address</u>)
    - address: FK (Workplace)
- Customer (<u>cust_no</u>, name , e-mail, phone, address)
    - unique(e-mail)
    - unique(phone)
- Department(<u>name</u>)
- Order(<u>order_no</u>, cust_no, date)
    - cust_no: FK (Customer) not null
- Sale(<u>order_no</u>)
    - order_no: FK (Order)
- Product(<u>sku</u>, name, description, price)
- Product_ean(<u>sku</u>, ean)
    - sku: FK (Product) not null
- Supplier(<u>tin</u>, name, address)
- Works(<u>name</u>, <u>ssn</u>, <u>address</u>)
    - ssn: FK (Employee)
    - name: FK (Department)
    - address: FK (Workplace)
- Supply_contract(<u>tin</u>, sku, date)
    - tin: FK (Supllier)
    - sku: FK (Product) not null
- Contains(<u>order_no</u>, <u>sku</u>, qty)
    - order_no: FK (Order)
    - sku: FK (Product)
- Process(<u>ssn</u>, <u>order_no</u>)
    - order_no: FK (Order)
    - ssn: FK (Employee)
- Delivery(<u>address</u>, <u>tin</u>)
    - address: FK (Warehouse)
    - tin: FK (Supply_contract)
- Pay(<u>order_no</u>, cust_no)
    - order_no: FK (Sale)
    - cust_no: FK (Places) not null

### 1.2 Restrições de Integridade não passíveis de conversão

Identifique todas as Restrições de Integridade do modelo Entidade-Associação apresentado que não são passíveis de conversão para o modelo relacional.

IC-1: When a Workplace is removed from the database it must also be removed from Office and/or Warehouse
IC-2: any ssn in Employee must existin Works
IC-3: any sku in Product must exist in Supply_contract
IC-4: any order_no in Order must exist in Contains
IC-5: Customers can only pay for the Sale of an Order they have placed themselves
IC-6: When a Product is removed from the database it must also be removed from Product_ean
IC-7: When a Order is removed from the database it must also be removed from Sale

## 2 Algebra Relacional

Recorde a notação exposta nas aulas teóricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as expressões algébricas correspondentes a cada uma das seguintes interrogações:

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

$\Pi_{c.name} \big(Order \bowtie_{order.cust\_no=customer.cust\_no} Customer \bowtie_{order.order\_no=contains.order\_no} Contains \bowtie_{constains.sku=produc.sku} (\sigma_{price>50}(Product) )\big)$

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

$\Pi_{e.name} \big(Warehouse \bowtie_{warehouse.address = works.address} Works \bowtie_{works.ssn=e.ssn} Employee \bowtie_{warehouse.ssn=p.ssn} (\sigma_{o.date > 31-12-2022 \wedge o.date < 1-2-2023}(Process \bowtie_{p.order\_no = o.order\_no} Order)) \big) - \Pi_{e.name} \big(Office \bowtie_{office.address = works.address} Works \bowtie_{works.ssn=e.ssn}Employee \big) $

3. Indique o nome do produto mais vendido;

$\Pi_{p.name} \big( _{p.name}G_{max(quantity)->max} ( Product \bowtie_{p.sku=c.sku} ( _{c.sku}G_{sum(c.qty)->quantity} (Contains \bowtie_{c.order\_no=s.order\_no}Sale))) \big)$

4. Indique o valor total de cada venda realizada.

$\Pi_{s.order\_no,total} \big( Sale\bowtie_{s.order\_no=c.order_no} (_{c.order\_no}G_{sum(c.qty * p.price)->total}(Contains  \bowtie_{c.sku=p.sku} Product))) \big)$

## 3 Tradução do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instruções para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restrições aplicáveis a cada campo, linha e tabela também devem ser especificadas recorrendo às instruções NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restrições existentes no modelo Relacional que não podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como comentários na tabela respectiva.

In [2]:
%load_ext sql
%sql postgresql://db:db@postgres/db

In [8]:
%%sql

drop table if exists supplier cascade;
drop table if exists product cascade;
drop table if exists supply_contract cascade;
drop table if exists employee cascade;
drop table if exists workplace cascade;
drop table if exists department cascade;
drop table if exists office cascade;
drop table if exists order_ cascade;
drop table if exists sale cascade;
drop table if exists warehouse cascade;
drop table if exists customer cascade;
drop table if exists product_ean cascade;
drop table if exists contains cascade;
drop table if exists works cascade;
drop table if exists delivery cascade;
drop table if exists process cascade;
drop table if exists pay cascade;
----------------------------------------
-- Table Creation
----------------------------------------


create table supplier(
    tin numeric,
    address varchar,
    name varchar,
    constraint pk_supplier primary key (tin)
);

create table product(
    sku varchar,
    name varchar,
    description TEXT,
    price numeric,
    constraint pk_product primary key (sku)
);

create table product_ean(
    sku varchar,
    ean numeric unique not null,
    constraint pk_product_ean primary key (sku),
    constraint fk_product_product_ean foreign key (sku) references product(sku)
);

create table employee(
    ssn numeric,
    tin varchar unique,
    bdate date,
    name varchar,
    constraint pk_employee primary key (ssn)
);

create table customer(
    cust_no numeric,
    name varchar,
    address varchar,
    email varchar unique,
    phone numeric unique,
    constraint pk_customer primary key (cust_no)
);

create table workplace(
    address varchar,
    lat numeric,
    long_ numeric,
    constraint pk_workplace primary key (address),
    unique (lat, long_)
);

create table department(
    name varchar ,
    constraint pk_department primary key(name)
);

create table order_(
    order_no numeric,
    cust_no numeric not null,
    date_ date,
    constraint pk_order primary key (order_no),
    constraint fk_customer_order foreign key (cust_no) references customer(cust_no)
);

create table sale(
    order_no numeric,
    constraint pk_sale primary key (order_no),
    constraint fk_order_sale foreign key (order_no) references order_(order_no)
);

create table office( 
    address varchar,
    constraint pk_office primary key(address),
    constraint fk_workplace_office foreign key (address) references workplace(address)
);

create table warehouse( 
    address varchar,
    constraint pk_warehouse primary key (address),
    constraint fk_workplace_warehouse foreign key (address) references workplace(address)
);


create table works (
    ssn numeric,
    address varchar,
    name varchar,
    constraint pk_works primary key (ssn,address,name),
    constraint fk_works_employee foreign key (ssn) references employee(ssn),
    constraint fk_works_workplace foreign key (address) references workplace(address),
    constraint fk_works_department foreign key (name) references department(name)
);


create table supply_contract(
    sku varchar not null,
    tin numeric,
    data date not null,
    constraint pk_supply_contract primary key (tin),
    constraint fk_contains_product foreign key (sku) references product(sku), 
    constraint fk_contains_supplier foreign key (tin) references supplier(tin)
);

create table contains(
    order_no numeric,
    sku varchar,
    qty int, 
    constraint pk_contains primary key (order_no, sku),
    constraint fk_contains_order_ foreign key (order_no) references order_(order_no),
    constraint fk_contains_product foreign key (sku) references product(sku)
);

create table process(
    ssn numeric,
    order_no numeric,
    primary key (ssn, order_no),
    constraint fk_contains_order_ foreign key (order_no) references order_(order_no),
    constraint fk_works_employee foreign key (ssn) references employee(ssn)
);

create table delivery (
    address varchar, 
    tin numeric,
    constraint pk_delivery primary key(address, tin),
    constraint fk_delivery_warehouse foreign key (address) references warehouse(address),
    constraint fk_delivery_supply_contract foreign key (tin) references supply_contract(tin)
);

create table pay(
    cust_no numeric,
    order_no numeric,
    constraint pk_pay primary key(cust_no, order_no),
    constraint fk_pay_customer foreign key(cust_no) references customer(cust_no),
    constraint fk_pay_order foreign key(order_no) references sale(order_no)
);

*  postgresql://db:***@postgres/db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instruções INSERT necessárias para criar alguns dados de teste sintéticos para facilitar a validação dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta têm de retornar um resultado não vazio).

In [9]:
%%sql
-- populate.sql

insert into supplier values (102823452, 'Rua da Joana n54 2000-213, Lisboa, Portugal', 'NIKE');
insert into supplier values (102823423, 'Rua da alvaro n54 1000-213,Faro , Portugal', 'LEVIS');
insert into supplier values (1028235324, 'Rua da moita n09 5330-213, Porto, Portugal', 'ADIDAS');
insert into supplier values (3218235324, ' Largo dos bananas, Evora, Portugal', 'NEW BALANCE');
insert into supplier values (5418235324, ' Largo dos lagartas, Evora, Portugal', 'MARVEL');
insert into supplier values (118235324, ' Largo dos lagartas, Faro, Portugal', 'CALVIN KLIEN');

insert into product values('FJ9363-100', 'Kobe 4 Protro Mambacita', 'Love the game. Be inspired.', 179.99 );
insert into product values('BB550LSB', '550 White com blue haze e rain cloud', 'Os 550 originais tiveram a sua estreia em 1989 e deixaram a sua marca nos campos de basquetebol de costa a costa.', 150.00);
insert into product values('IE2175', 'adidas Originals x YNuK Campus 00s', 'Agora você pode comprar o item adidas Originals x YNuK Campus 00s em FOOTDISTRICT. Além disso, encontre outros produtos semelhantes em nossa seção Sapatilhas.', 120.00);
insert into product values('A46770006', '501® 54 Jeans', 'Apresentamos os nossos 501® 54 Jeans de inpiração vintage. O corte é de perna justa e um ajuste reto no cós e nas coxas, ao estilo tradicional que este modelo nos habituou.',130.00 );
insert into product values('SP121313', 'Spider Man Classic suit', 'Spider Man suit',130.00 );
insert into product values('MUDS2121', 'Boxer Briefs - Flex Fit', 'Calvin Klein FLEX FIT is premium underwear that adjusts to your body with enhanced comfort and flexibility. Made from sustainably sourced materials.',29.90 );

insert into product_ean values('FJ9363-100',80123783219420);

insert into supply_contract values('FJ9363-100',102823452,'2021-10-10');
insert into supply_contract values('BB550LSB', 3218235324, '2021-5-11');
insert into supply_contract values('IE2175', 1028235324, '2019-4-23');
insert into supply_contract values('A46770006', 102823423, '2021-2-21');
insert into supply_contract values('SP121313', 5418235324, '2021-2-21');
insert into supply_contract values('MUDS2121', 118235324, '2020-9-4');

insert into employee values (12638548265, 237754690, '2010-06-27', 'Carolina Ferreira');
insert into employee values (11366554876, 221664664, '2000-12-15', 'Jorge Santos');
insert into employee values (13536427182, 637352438, '2010-07-17', 'Francisca Lopes');
insert into employee values (14373454876, 836456253, '2000-11-01', 'Daniel Forte');
insert into employee values (14454876, 8356253, '2000-11-01', 'Zezinho');

insert into workplace values ('Av. da Igreja 60', 38.751745, -9.148199);
insert into workplace values ('R. Duarte Lobo 93', 38.754316, -9.135519);
insert into workplace values ('Rua do Zaire 33', 38.727755,-9.134815);
insert into workplace values ('R. Seara Nova 25', 38.723858, -9.156482);
insert into workplace values ('Rua do Eder 298', 31.727755,-5.134815);

insert into warehouse values ('Av. da Igreja 60');
insert into warehouse values ('Rua do Zaire 33');
insert into warehouse values ('Rua do Eder 298');
insert into office values ('R. Seara Nova 25');
insert into office values('Rua do Zaire 33');

insert into customer values(16531,'Neymar Junior','Rua da Liberdade n34','gqfhjqf@gmail.com',874013524);
insert into customer values(16532,'Gonçalo Sousa','Rua do Diogo n23 2ºesq,2444-213,Leiria','gdiqhqf@gmail.com',87407546);
insert into customer values(1653,'Peter Parker','Queens','peter@gmail.com',8740132756);
insert into customer values(102,'Ric','Rua','diogoavee@gmail.com',930766000);

insert into department values ('Recursos Humanos');
insert into department values ('Informatica');
insert into department values ('Marketing');
insert into department values ('Administrativo');

insert into order_ values(1334,102 , '2022-2-1');
insert into order_ values(1374,1653 , '2022-1-23');
insert into order_ values(1375,1653 , '2022-5-3');
insert into order_ values(1500,16531 , '2023-1-23');
insert into order_ values(1800,102 , '2023-2-27');
insert into order_ values(1900,1653 , '2023-2-27');

insert into works values(12638548265, 'Rua do Zaire 33', 'Recursos Humanos');
insert into works values(14454876, 'Av. da Igreja 60', 'Informatica');
insert into works values(11366554876, 'R. Seara Nova 25', 'Informatica');
insert into works values(13536427182, 'Rua do Zaire 33', 'Informatica');
insert into works values(14373454876, 'Av. da Igreja 60', 'Marketing');
insert into works values(12638548265, 'R. Seara Nova 25', 'Recursos Humanos');

insert into contains values(1374, 'SP121313', 4);
insert into contains values(1375, 'A46770006', 1);
insert into contains values(1334,'IE2175' , 1);
insert into contains values(1334,'BB550LSB' , 1);
insert into contains values(1334, 'MUDS2121', 2);
insert into contains values(1500, 'FJ9363-100', 1);
insert into contains values(1800, 'MUDS2121', 3);
insert into contains values(1800, 'BB550LSB', 1);
insert into contains values(1900, 'MUDS2121', 1);

insert into sale values(1334);
insert into sale values(1374);
insert into sale values(1800);

insert into pay values(102,1334);
insert into pay values(102,1800);
insert into pay values(1653,1374);

insert into delivery values('Av. da Igreja 60', 1028235324);
insert into delivery values('Av. da Igreja 60',102823423);
insert into delivery values('Rua do Zaire 33',118235324 );

insert into process values(12638548265,1374);
insert into process values(12638548265,1334);
insert into process values(11366554876,1375);
insert into process values(14373454876,1800);
insert into process values(14454876,1500);

*  postgresql://db:***@postgres/db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

## 4 Linguagem SQL

Apresente a expressão SQL correspondente  a cada uma das interrogações de Álgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

In [11]:
%%sql

select c.name
    from order_ o
    join customer c using(cust_no)
    join contains co using(order_no)
    join product p using(sku)
    where p.price>50 and '2022-12-31'<o.date_ and o.date_<'2024-1-1';

*  postgresql://db:***@postgres/db
2 rows affected.

+---------------+
|      name     |
+---------------+
| Neymar Junior |
|      Ric      |
+---------------+

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

In [12]:
%%sql

select distinct(e.name)
    from employee e 
    join works w using (ssn)
    join warehouse wa using (address)
    where e.ssn not in
    (select w.ssn 
     from  works w 
    join office o using (address))
    and e.ssn in 
    (select p.ssn
     from process p
     join order_ o using (order_no)
     where o.date_ > '2022-12-31' and o.date_ < '2023-2-1');

*  postgresql://db:***@postgres/db
1 rows affected.

+---------+
|   name  |
+---------+
| Zezinho |
+---------+

3. Indique o nome do produto mais vendido;

In [13]:
%%sql

select p.name 
    from product p
    join contains c using (sku)
    join sale s using (order_no)
    group by p.name
    having sum(c.qty) >= all (select sum(c.qty) from product p
    join contains c using (sku)
    join sale s using (order_no)
    group by p.name);

*  postgresql://db:***@postgres/db
1 rows affected.

+-------------------------+
|           name          |
+-------------------------+
| Boxer Briefs - Flex Fit |
+-------------------------+

4. Indique o valor total de cada venda realizada.

In [14]:
%%sql

select s.order_no,SUM(p.price*c.qty)as valor
    from sale s
    join contains c using(order_no)
    join product p using(sku)
    group by s.order_no;

*  postgresql://db:***@postgres/db
3 rows affected.

+----------+--------+
| order_no | valor  |
+----------+--------+
|   1334   | 329.80 |
|   1800   | 239.70 |
|   1374   | 520.00 |
+----------+--------+