# Projeto de Bases de Dados - Parte 3

### Docente Responsável

Prof. Daniel Faria

### Grupo 59
<dl>
    <dt>17 horas (33%)</dt>
    <dd>ist1102703 Isabela Pereira</dd>
    <dt>15 horas (29%)</dt>
    <dd>ist1102780 Diogo Henriques</dd>
    <dt>20 horas (38%)</dt>
    <dd>ist1102798 Fernando Castanheira</dd>
<dl>

In [12]:
%load_ext sql
%sql postgresql://db:db@postgres/db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Empresa de comércio online

## 0. Carregamento da Base de Dados

Carregue o esquema de Base de Dados apresentado no Anexo A.

In [101]:
%%sql

DROP TABLE IF EXISTS customer CASCADE;
DROP TABLE IF EXISTS orders CASCADE;
DROP TABLE IF EXISTS pay CASCADE;
DROP TABLE IF EXISTS employee CASCADE;
DROP TABLE IF EXISTS process CASCADE;
DROP TABLE IF EXISTS department CASCADE;
DROP TABLE IF EXISTS workplace CASCADE;
DROP TABLE IF EXISTS works CASCADE;
DROP TABLE IF EXISTS office CASCADE;
DROP TABLE IF EXISTS warehouse CASCADE;
DROP TABLE IF EXISTS product CASCADE;
DROP TABLE IF EXISTS contains CASCADE;
DROP TABLE IF EXISTS supplier CASCADE;
DROP TABLE IF EXISTS delivery CASCADE;

CREATE TABLE customer(
cust_no INTEGER PRIMARY KEY,
name VARCHAR(80) NOT NULL,
email VARCHAR(254) UNIQUE NOT NULL,
phone VARCHAR(15),
address VARCHAR(255)
);

CREATE TABLE orders(
order_no INTEGER PRIMARY KEY,
cust_no INTEGER NOT NULL REFERENCES customer,
date DATE NOT NULL
--order_no must exist in contains
);

CREATE TABLE pay(
order_no INTEGER PRIMARY KEY REFERENCES orders,
cust_no INTEGER NOT NULL REFERENCES customer
);

CREATE TABLE employee(
ssn VARCHAR(20) PRIMARY KEY,
TIN VARCHAR(20) UNIQUE NOT NULL,
bdate DATE,
name VARCHAR NOT NULL
--age must be >=18
);

CREATE TABLE process(
ssn VARCHAR(20) REFERENCES employee,
order_no INTEGER REFERENCES orders,
PRIMARY KEY (ssn, order_no)
);

CREATE TABLE department(
name VARCHAR PRIMARY KEY
);

CREATE TABLE workplace(
address VARCHAR PRIMARY KEY,
lat NUMERIC(8, 6) NOT NULL,
long NUMERIC(9, 6) NOT NULL,
UNIQUE(lat, long)
--address must be in warehouse or office but not both
);

CREATE TABLE office(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE warehouse(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE works(
ssn VARCHAR(20) REFERENCES employee,
name VARCHAR(200) REFERENCES department,
address VARCHAR(255) REFERENCES workplace,
PRIMARY KEY (ssn, name, address)
);

CREATE TABLE product(
SKU VARCHAR(25) PRIMARY KEY,
name VARCHAR(200) NOT NULL,
description VARCHAR,
price NUMERIC(10, 2) NOT NULL,
ean NUMERIC(13) UNIQUE
);

CREATE TABLE contains(
order_no INTEGER REFERENCES orders,
SKU VARCHAR(25) REFERENCES product,
qty INTEGER,
PRIMARY KEY (order_no, SKU)
);

CREATE TABLE supplier(
TIN VARCHAR(20) PRIMARY KEY,
name VARCHAR(200),
address VARCHAR(255),
SKU VARCHAR(25) REFERENCES product,
date DATE
);

CREATE TABLE delivery(
address VARCHAR(255) REFERENCES warehouse,
TIN VARCHAR(20) REFERENCES supplier,
PRIMARY KEY (address, TIN)
);

Running query in 'postgresql://db:***@postgres/db'

Crie as instruções para o seu preenchimento de forma consistente, garantindo que todas as consultas SQL e OLAP, apresentadas mais adiante, produzam um resultado não vazio.

In [102]:
%%sql
-- populate.sql

insert into customer values(1,'Neymar Junior','mininoney@gmail.com',964013524, 'Rua da Liberdade n34 5680-765, Viana do Castelo');
insert into customer values(2,'Gonçalo Sousa','gsousa@gmail.com',987407546, 'Rua do Diogo n23 2esq 2444-213, Leiria');
insert into customer values(3,'Peter Parker','peter@gmail.com',920431825, 'Largo do convento n76 8641-954, Coimbra');
insert into customer values(4,'Ricardo Fazeres','Ricfazeres@gmail.com',930766000, 'Rua da Madureira n543 1drt 8767-329, Quarteira');

insert into orders values(1, 4, '2022-2-1');
insert into orders values(2, 3, '2022-1-23');
insert into orders values(3, 3, '2022-5-3');
insert into orders values(4, 1, '2023-1-23');
insert into orders values(5, 4, '2023-2-27');
insert into orders values(6, 3, '2023-2-27');

insert into pay values(1, 4);
insert into pay values(5, 4);
insert into pay values(2, 3);

insert into employee values (12638548265, 237754690, '1978-06-27', 'Carolina Ferreira');
insert into employee values (11366554876, 221664664, '2000-12-15', 'Jorge Santos');
insert into employee values (13536427182, 637352438, '2001-07-17', 'Francisca Lopes');
insert into employee values (14373454876, 836456253, '2000-11-01', 'Daniel Forte');
insert into employee values (14454876, 8356253, '2000-11-01', 'Zezinho');

insert into process values(12638548265,2);
insert into process values(12638548265,3);
insert into process values(12638548265,1);
insert into process values(11366554876,3);
insert into process values(14373454876,5);
insert into process values(14454876,4);

insert into department values ('Recursos Humanos');
insert into department values ('Informatica');
insert into department values ('Marketing');
insert into department values ('Administrativo');

insert into workplace values ('Av. da Igreja 60 2341-977, Leiria', 38.751745, -9.148199);
insert into workplace values ('R. Duarte Lobo 93 8564-123, Portalegre', 38.754316, -9.135519);
insert into workplace values ('Rua do Zaire 33 2600-123, Vila Franca de Xira', 38.727755,-9.134815);
insert into workplace values ('R. Seara Nova 25 2615-123, Alverca do Ribatejo', 38.723858, -9.156482);
insert into workplace values ('Rua do Eder 298 6543-763, Portel', 31.727755,-5.134815);

insert into office values ('R. Seara Nova 25 2615-123, Alverca do Ribatejo');
insert into office values('Rua do Zaire 33 2600-123, Vila Franca de Xira');

insert into warehouse values ('Av. da Igreja 60 2341-977, Leiria');
insert into warehouse values ('Rua do Zaire 33 2600-123, Vila Franca de Xira');
insert into warehouse values ('Rua do Eder 298 6543-763, Portel');

insert into works values(12638548265, 'Recursos Humanos', 'Rua do Zaire 33 2600-123, Vila Franca de Xira');
insert into works values(14454876, 'Informatica', 'Av. da Igreja 60 2341-977, Leiria');
insert into works values(11366554876, 'Informatica', 'R. Seara Nova 25 2615-123, Alverca do Ribatejo');
insert into works values(13536427182, 'Informatica', 'Rua do Zaire 33 2600-123, Vila Franca de Xira');
insert into works values(14373454876, 'Marketing', 'Av. da Igreja 60 2341-977, Leiria');
insert into works values(12638548265, 'Recursos Humanos','R. Seara Nova 25 2615-123, Alverca do Ribatejo');

insert into product values('FJ9363-100', 'Kobe 4 Protro Mambacita', 'Love the game. Be inspired.', 179.99 );
insert into product values('BB550LSB', '550 White com blue haze e rain cloud', 'Os 550 originais tiveram a sua estreia em 1989 e deixaram a sua marca nos campos de basquetebol de costa a costa.', 150.00, 8012378321942);
insert into product values('IE2175', 'adidas Originals x YNuK Campus 00s', 'Agora você pode comprar o item adidas Originals x YNuK Campus 00s em FOOTDISTRICT. Além disso, encontre outros produtos semelhantes em nossa seção Sapatilhas.', 120.00);
insert into product values('A46770006', '501® 54 Jeans', 'Apresentamos os nossos 501® 54 Jeans de inpiração vintage. O corte é de perna justa e um ajuste reto no cós e nas coxas, ao estilo tradicional que este modelo nos habituou.',130.00 );
insert into product values('SP121313', 'Spider Man Classic suit', 'Spider Man suit',130.00 );
insert into product values('MUDS2121', 'Boxer Briefs - Flex Fit', 'Calvin Klein FLEX FIT is premium underwear that adjusts to your body with enhanced comfort and flexibility. Made from sustainably sourced materials.',29.90 );

insert into contains values(2, 'SP121313', 4);
insert into contains values(3, 'A46770006', 1);
insert into contains values(1,'IE2175' , 1);
insert into contains values(1,'BB550LSB' , 1);
insert into contains values(1, 'MUDS2121', 2);
insert into contains values(4, 'FJ9363-100', 1);
insert into contains values(5, 'MUDS2121', 3);
insert into contains values(5, 'BB550LSB', 1);
insert into contains values(6, 'MUDS2121', 1);

insert into supplier values (102823452, 'NIKE', 'Rua da Joana n54 2000-213, Lisboa','FJ9363-100' , '2021-10-10');
insert into supplier values (102823423, 'LEVIS', 'Rua da alvaro n54 1000-213,Faro ', 'A46770006', '2021-2-21');
insert into supplier values (1028235324, 'ADIDAS', 'Rua da moita n09 5330-213, Porto', 'IE2175', '2019-4-23');
insert into supplier values (3218235324, 'NEW BALANCE', 'Largo dos bananas 2321-764, Evora', 'BB550LSB', '2021-5-11');
insert into supplier values (5418235324, 'MARVEL', 'Largo dos lagartas 2321-432 , Evora', 'SP121313', '2021-2-21');
insert into supplier values (118235324, 'CALVIN KLIEN', 'Largo dos lagartas 1000-543, Faro', 'MUDS2121', '2020-9-4');
insert into supplier values (102823442, 'ASOS', 'Rua da Joana n54 2000-213, Lisboa','FJ9363-100' , '2021-10-10');

insert into delivery values('Av. da Igreja 60 2341-977, Leiria', 1028235324);
insert into delivery values('Av. da Igreja 60 2341-977, Leiria',102823423);
insert into delivery values('Rua do Zaire 33 2600-123, Vila Franca de Xira',118235324 );

Running query in 'postgresql://db:***@postgres/db'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Nenhum empregado pode ter menos de 18 anos de idade

In [103]:
%%sql
-- (RI-1)
ALTER TABLE employee ADD CHECK (age(bdate) >= '18 years');

Running query in 'postgresql://db:***@postgres/db'

(RI-2) Um 'Workplace' é obrigatoriamente um 'Office' ou 'Warehouse' mas não pode ser ambos

In [104]:
%%sql
-- (RI-2)
create or replace function check_workplace_type() returns trigger 
as 
$$
begin
  if exists(select address from office o,warehouse w where o.address = new.address and w.address = new.address)
    then
    raise exception 'Um Workplace não pode ser um Office e um Warehouse simultaneamente.';
  end if;
  
  if not exists(select address from office o,warehouse w where o.address = new.address or w.address = new.address)
      then
      raise exception 'Um Workplace tem ser ou um Warehouse ou um Office.';
  end if;
  
  return new;
end
$$ 
language plpgsql;

create or replace trigger workplace_type_trigger
before insert or update on Workplace
for each row
execute function check_workplace_type();

Running query in 'postgresql://db:***@postgres/db'

(RI-3) Uma 'Order' tem de figurar obrigatoriamente em 'Contains'.

In [105]:
%%sql
-- (RI-3)
create or replace function check_orders()
    returns trigger 
as
$$
begin 
    if not exists(
        select order_no 
        from contains
        where order_no = new.order_no)
        then raise exception 'The order must be present in Contains.';
    end if;
    
    return new;
end 
$$
language plpgsql;

create constraint  trigger check_order
after insert on orders 
DEFERRABLE INITIALLY DEFERRED
for each row execute function check_orders();

Running query in 'postgresql://db:***@postgres/db'

## 2. Consultas SQL

Apresente a consulta SQL mais sucinta para cada uma das seguintes questões

1) Qual o número e nome do(s) cliente(s) com maior valor total de encomendas pagas?

In [106]:
%%sql

SELECT c.cust_no,c.name
    FROM customer c
    JOIN pay p USING(cust_no)
    JOIN orders o USING(order_no)
    JOIN contains co USING(order_no)
    JOIN product pr USING(SKU)
    GROUP BY c.cust_no HAVING sum(pr.price*co.qty)>=ALL(
        select sum(pr.price*co.qty) 
        FROM customer c
        JOIN pay p USING(cust_no)
        JOIN orders o USING(order_no)
        JOIN contains co USING(order_no)
        JOIN product pr USING(SKU)
        GROUP BY c.cust_no);

Running query in 'postgresql://db:***@postgres/db'

1 rows affected.

+---------+-----------------+
| cust_no |       name      |
+---------+-----------------+
|    4    | Ricardo Fazeres |
+---------+-----------------+

2. Qual o nome dos empregados que processaram encomendas em todos os dias de 2022 em que houve encomendas?

In [107]:
%%sql

select e.name
    from employee e
    where not exists (
      select distinct o.date
          from orders o
          where o.date >= '2022-01-01' and o.date <= '2022-12-31'
          and not exists (
          select *
              from process p
              where p.order_no = o.order_no
              and p.ssn = e.ssn
            )
);

Running query in 'postgresql://db:***@postgres/db'

1 rows affected.

+-------------------+
|        name       |
+-------------------+
| Carolina Ferreira |
+-------------------+

3. Quantas encomendas foram realizadas mas não pagas em cada mês de 2022?

In [20]:
%%sql

select extract(month from o.date) as month,count(o.order_no) as total_orders 
    from orders o
    where order_no not in (select order_no from pay) and o.date between '2021-12-31' and '2023-1-1'
    group by month
order by month;

Running query in 'postgresql://db:***@postgres/db'

1 rows affected.

+-------+--------------+
| month | total_orders |
+-------+--------------+
|   5   |      1       |
+-------+--------------+

## 3. Vistas

Crie uma vista que resuma as informações mais importantes sobre as vendas de produtos, combinando informações de diferentes tabelas do esquema de base de dados. A vista deve ter o seguinte esquema:

product_sales(sku, order_no, qty, total_price, year, month, day_of_month, day_of_week, city)

In [109]:
%%sql
-- CREATE VIEW ...
CREATE OR REPLACE VIEW product_sales AS
SELECT 
    c.SKU,
    c.order_no,
    c.qty,
    (c.qty * p.price) AS total_price,
    EXTRACT(YEAR FROM o.date) AS year,
    EXTRACT(MONTH FROM o.date) AS month,
    EXTRACT(DAY FROM o.date) AS day_of_month,
    CAST(
        CASE EXTRACT(DOW FROM o.date)
            WHEN 0 THEN 'Sunday'
            WHEN 1 THEN 'Monday'
            WHEN 2 THEN 'Tuesday'
            WHEN 3 THEN 'Wednesday'
            WHEN 4 THEN 'Thursday'
            WHEN 5 THEN 'Friday'
            WHEN 6 THEN 'Saturday'
        END AS TEXT
    ) AS day_of_week,
    TRIM(SPLIT_PART(REVERSE(SPLIT_PART(REVERSE(cust.address), ',', 1)), ',', 1)) AS city
FROM
    contains AS c
JOIN
    orders AS o ON c.order_no = o.order_no
JOIN
    customer AS cust ON o.cust_no = cust.cust_no
JOIN
    pay ON o.order_no = pay.order_no
JOIN
    product AS p ON c.SKU = p.SKU;

Running query in 'postgresql://db:***@postgres/db'

## 4. Desenvolvimento de Aplicação

### Explicação da arquitetura da aplicação web, incluindo um link para uma versão de trabalho e as relações entre os vários ficheiros na pasta web/arquivos

...

## 5. Consultas OLAP

Usando a vista desenvolvida para a Questão 3, escreva duas consultas SQL que permitam analisar:

1. As quantidade e valores totais de venda de cada produto em 2022, globalmente, por cidade, por mês, dia do mês e dia da semana

In [130]:
%%sql
DROP TABLE IF EXISTS dateD CASCADE;

CREATE TABLE dateD(
id SERIAL PRIMARY KEY,
year INTEGER,
month INTEGER,
weekday varchar,
day INTEGER); 

INSERT INTO dateD (year, month, day, weekday)
SELECT EXTRACT(YEAR FROM dd), EXTRACT(MONTH FROM dd), EXTRACT(DAY FROM dd),
       CASE EXTRACT(DOW FROM dd)
           WHEN 0 THEN 'Sunday'
           WHEN 1 THEN 'Monday'
           WHEN 2 THEN 'Tuesday'
           WHEN 3 THEN 'Wednesday'
           WHEN 4 THEN 'Thursday'
           WHEN 5 THEN 'Friday'
           WHEN 6 THEN 'Saturday'
       END AS weekday
FROM GENERATE_SERIES(
   '2022-01-01'::date,
   '2022-12-31'::date,
   '1 day'::INTERVAL
) AS dd;

SELECT
    p.sku,
    COALESCE(SUM(ps.qty), 0) AS qty,
    COALESCE(SUM(ps.total_price), 0) AS total,
    ps.city,
    d.month,
    d.day,
    d.weekday
FROM (
    (SELECT DISTINCT sku FROM product_sales) p
CROSS JOIN
    dateD d ) 
 LEFT JOIN
    product_sales ps ON d.day = ps.day_of_month
        AND d.month = ps.month
        AND d.year = ps.year
        AND p.sku = ps.sku
WHERE
    p.sku IS NOT NULL
GROUP BY p.sku, 
    GROUPING SETS (
        (),
        (ps.city),
        (d.month),
        (d.day),
        (d.weekday)
    )
HAVING (ps.city IS NOT NULL)
    OR (
        ps.city IS NULL
        AND (
            COALESCE(SUM(ps.qty), 0) <> 0
            OR d.month IS NOT NULL
            OR d.day IS NOT NULL
            OR d.weekday IS NOT NULL
        )
    )
ORDER BY
    p.sku,
    ps.city,
    d.month,
    d.day,
    CASE d.weekday
        WHEN 'Sunday' THEN 1
        WHEN 'Monday' THEN 2
        WHEN 'Tuesday' THEN 3
        WHEN 'Wednesday' THEN 4
        WHEN 'Thursday' THEN 5
        WHEN 'Friday' THEN 6
        WHEN 'Saturday' THEN 7
        ELSE 8
    END;

Running query in 'postgresql://db:***@postgres/db'

365 rows affected.

208 rows affected.

+----------+-----+--------+-----------+-------+------+---------+
|   sku    | qty | total  |    city   | month | day  | weekday |
+----------+-----+--------+-----------+-------+------+---------+
| BB550LSB |  1  | 150.00 | Quarteira |  None | None |   None  |
| BB550LSB |  0  |   0    |    None   |   1   | None |   None  |
| BB550LSB |  1  | 150.00 |    None   |   2   | None |   None  |
| BB550LSB |  0  |   0    |    None   |   3   | None |   None  |
| BB550LSB |  0  |   0    |    None   |   4   | None |   None  |
| BB550LSB |  0  |   0    |    None   |   5   | None |   None  |
| BB550LSB |  0  |   0    |    None   |   6   | None |   None  |
| BB550LSB |  0  |   0    |    None   |   7   | None |   None  |
| BB550LSB |  0  |   0    |    None   |   8   | None |   None  |
| BB550LSB |  0  |   0    |    None   |   9   | None |   None  |
+----------+-----+--------+-----------+-------+------+---------+

2. O valor médio diário das vendas de todos os produtos em 2022, globalmente, por mês e dia da semana

In [82]:
%%sql
-- SELECT ...
DROP TABLE IF EXISTS dateD CASCADE;

CREATE TABLE dateD (
    id SERIAL PRIMARY KEY,
    year INTEGER,
    month INTEGER,
    weekday VARCHAR(20), 
    day INTEGER
);

INSERT INTO dateD (year, month, day, weekday)
SELECT EXTRACT(YEAR FROM dd), EXTRACT(MONTH FROM dd), EXTRACT(DAY FROM dd),
       CASE EXTRACT(DOW FROM dd)
           WHEN 0 THEN 'Sunday'
           WHEN 1 THEN 'Monday'
           WHEN 2 THEN 'Tuesday'
           WHEN 3 THEN 'Wednesday'
           WHEN 4 THEN 'Thursday'
           WHEN 5 THEN 'Friday'
           WHEN 6 THEN 'Saturday'
       END AS weekday
FROM GENERATE_SERIES(
   '2022-01-01'::date,
   '2022-12-31'::date,
   '1 day'::INTERVAL
) AS dd;

select COALESCE(CAST(AVG(s.total_price) AS DECIMAL(10, 2)), 0) as avg, d.month, d.weekday
from dateD d
left join product_sales s
on d.day=s.day_of_month and d.month=s.month and d.year=s.year
group by grouping sets((),(d.weekday),(d.month))
order by d.weekday,d.month;

Running query in 'postgresql://db:***@postgres/db'

365 rows affected.

20 rows affected.

+--------+-------+-----------+
|  avg   | month |  weekday  |
+--------+-------+-----------+
|   0    |  None |   Friday  |
|   0    |  None |   Monday  |
|   0    |  None |  Saturday |
| 520.00 |  None |   Sunday  |
|   0    |  None |  Thursday |
|   0    |  None |  Tuesday  |
|   0    |  None | Wednesday |
| 520.00 |   1   |    None   |
|   0    |   2   |    None   |
|   0    |   3   |    None   |
+--------+-------+-----------+

## 6. Índices

Indique, com a devida justificação, que tipo de índice(s), sobre qual(is) atributo(s) e sobre qual(is) tabela(s) faria sentido criar, de forma a agilizar a execução de cada uma das seguintes consultas:

### 6.1
SELECT order_no
FROM orders 
JOIN contains USING (order_no) 
JOIN product USING (SKU) 
WHERE price > 50 AND 
EXTRACT(YEAR FROM date) = 2023

### Tipo de Índice, Atributos & Justificação

Na query queremos selecionar as orders que tenham sido feitas em 2023 e contenham produtos que custam mais de 50€. Como para obter o ano fazemos sempre extract da data nao vamos beneficiar da utilizacao de um indice no entanto para os precos uma vez que vamos querer todos os valores apartir de 50 devemos usar um indice b-tree no price.

### 6.2
SELECT order_no, SUM(qty*price)
FROM contains 
JOIN product USING (SKU) 
WHERE name LIKE ‘A%’ 
GROUP BY order_no;

### Tipo de Índice, Atributos & Justificação

Na query queremos selecionar o order_no das orders que conteem um produto com um certo nome.
Uma vez que so queremos filtrar pelo nome do produto so este e que precisa de um index.Como a funcao like e uma funcao de correspondencia parcial a ordenacao e util pelo que o indice que deve ser usado e o b-tree.